table {
    width: 100%;
    text-align: center;
}

th {
    border: 3px solid rgba(95, 189, 52, 0.8);
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

td {
    border: 1px solid rgba(95, 189, 52, 0.8);
}

#dlv,
#dlt {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}